/*animation.css*/
.hero img{
    animation:float 3s ease-in-out infinite;
}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0);

}

}

.card{
    padding:40px 25px;
    min-height:320px;
}

.card h3{
    font-size:24px;
    margin-top:20px;
    margin-bottom:15px;
}

.card p{
    font-size:16px;
    line-height:28px;
    color:#666;
}

