/*tests.css*/

.page-banner{

padding:80px 0;

background:linear-gradient(135deg,#0d6efd,#0047b3);

text-align:center;

color:#fff;

}

.page-banner h1{

font-size:52px;

font-weight:700;

}

.page-banner p{

font-size:18px;

margin-top:15px;

opacity:.9;

}

.test-search{

padding:60px 0 30px;

}

.search-box{

max-width:700px;

margin:auto;

position:relative;

}

.search-box input{

width:100%;

padding:18px 60px 18px 25px;

border-radius:50px;

border:2px solid #dbe7ff;

font-size:17px;

}

.search-box button{

position:absolute;

right:8px;

top:8px;

width:48px;

height:48px;

border:none;

border-radius:50%;

background:#0d6efd;

color:#fff;
 transition:.35s;
    cursor:pointer;
}
.search-box button:hover{
    background:#0b5ed7;
    transform:scale(1.05);
}

.test-card{
    background:#fff;
    border-radius:22px;
    padding:35px;
    box-shadow:0 10px 35px rgba(0,0,0,.08);
    border:1px solid #eef3ff;
    transition:all .35s ease;
}

.test-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(13,110,253,.15);
    border-color:#0d6efd;
}


.test-card:hover {
    background:#0d6efd;
    color:#fff;
    transform:rotate(8deg) scale(1.1);
}
.test-card .primary-btn{
    transition:.35s;
}

.test-card .primary-btn:hover{
    transform:translateY(-3px);
}
.test-icon{
    width:75px;
    height:75px;
    background:#eef5ff;
    color:#0d6efd;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    margin-bottom:20px;
    transition:.35s;
}
.test-card h3{

font-size:24px;

font-weight:700;

margin-bottom:20px;

color:#0d47a1;

}

.price{

font-size:30px;

font-weight:700;

color:#16a34a;

margin-bottom:20px;

  display:flex;
    align-items:center;
    gap:10px;
}

.price span{

font-size:18px;

color:#999;

text-decoration:line-through;

margin-left:8px;

}

.test-card ul{

padding:0;

margin:0 0 25px;

list-style:none;

}

.test-card li{

margin-bottom:12px;

color:#555;

}

.test-card li i{

color:#0d6efd;

margin-right:8px;

}

.test-card .primary-btn{

width:100%;

justify-content:center;

}


@media(max-width:991px){

.test-grid{

grid-template-columns:repeat(2,1fr);

}
.category-grid{
        grid-template-columns:repeat(3,1fr);
    }
}


@media(max-width:768px){

.test-grid{

grid-template-columns:1fr;

}

.page-banner h1{

font-size:36px;

}

}




.test-categories{
    padding:20px 0 60px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:20px;
}

.category-card{
    background:#fff;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.06);
    transition:.3s;
    cursor:pointer;
}

.category-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(13,110,253,.12);
     background:#0d6efd;
        color:#fff;
}
.category-card:hover i{
    transform:scale(1.15);
     color:#fff;

}
.category-card:hover span{
    color:#fff;
}

.search-box input:focus{
    outline:none;
    border-color:#0d6efd;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.15);
}
.category-card i{
    transition:.3s;
}
.category-card i{
    font-size:32px;
    color:#0d6efd;
    margin-bottom:12px;
}

.category-card span{
    display:block;
    font-weight:600;
}



@media(max-width:576px){
    .category-grid{
        grid-template-columns:repeat(2,1fr);
    }
}


.tests-section{
    padding:90px 0;
    background:#f8fbff;
}

.tests-section .container{
    max-width:1320px;
}

.test-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    padding:40px 0 70px;
}