<header class="header">

    <nav class="navbar navbar-expand-lg">

        <div class="container">

            <a class="navbar-brand logo" href="index.html">

                <img src="images/logo.png" alt="NIROG">

                <div class="logo-text">

                    <h2>NIROG Diagnostics</h2>

                    <p>Sample Collection Centre</p>

                </div>

            </a>

            <button class="navbar-toggler"

                    type="button"

                    data-bs-toggle="collapse"

                    data-bs-target="#mainMenu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse"

                 id="mainMenu">

                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">

                        <a class="nav-link "

                           href="index.html">

                            Home

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"

                           href="tests.html">

                            Tests

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"

                           href="packages.html">

                            Packages

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"

                           href="about.html">

                            About

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"

                           href="contact.html">

                            Contact

                        </a>

                    </li>

                </ul>

                <div class="header-right d-flex align-items-center">
                    <a href="tests.html"

                       class="search-btn">

                        <i class="fa-solid fa-magnifying-glass"></i>

                    </a>

                    <a href="booking.html"

                       class="book-btn">

                        <i class="fa-solid fa-calendar-check"></i>

                        Book Test

                    </a>

                </div>

            </div>

        </div>

    </nav>

</header>