<div class="topbar">

    <div class="container topbar-content">

        <div class="top-item">
            <i class="fa-solid fa-house-medical"></i>
            Free Home Collection
        </div>

        <div class="top-item">
            <i class="fa-regular fa-clock"></i>
            Open Daily : 7:00 AM - 8:00 PM
        </div>

        <div class="top-item">
            <i class="fa-solid fa-phone"></i>

            <a href="tel:+918908079448">
                +91 89080 79448
            </a>

        </div>

        <div class="top-item whatsapp">

            <i class="fa-brands fa-whatsapp"></i>

            WhatsApp Available

        </div>

    </div>

</div>